* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
}

body {
    background-color: antiquewhite;
}

div {
    border: dashed 3px red;
    margin: 2%;
    padding: 2%;
    flex: 1;
}

.top {
    display: flex;
}

.flex-container {
    display: inline-flex ;
   
}

.flex-container>div {
    flex: 1;
   
}



section {
    border: dashed 3px red;
    margin: 2%;
    padding: 2%;
}

.principal {
    display: flex;
    flex-wrap: wrap;
}

.principal>figure {
    flex: 1;

}

figure {
    min-width: 200px;
    max-width: 300px;
}