* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
}

header,
form,
nav,
main,
section,
table,
li {
    border: solid 1px rgb(4, 4, 4);
}

figure {
    width: 20%;
}

/*estilos del Header*/

header {
    display: flex;
    margin: 1%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

header figure {}

header h1 {
    font-size: 5em;
}

header form {
    padding: 1%;
}

/*estilos del Nav*/

nav {
    padding: 1%;
    margin: 1%;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: end;
}

nav ul li {
    list-style: none;
    padding: 1%;
    margin: 1%;
    text-transform: uppercase;
    width: 10%;
}


/*estilos del main article*/

main {
    margin: 1%;
}

main article {
    padding: 1%;
}

main article p {
    margin-top: 1%;
    text-align: justify;
}

/*estilos del main section*/

.principal {
    display: flex;
}

.detalles {
    flex: 1;
}

.detalles h3 {
    margin: 1% 0 3% 0;
}

.coches {
    display: flex;
}

.coches figure {
    flex: 1;
}

.modelos {
    flex: 1;
   
    
}
.modelos h3 {
    margin: 1% 1% 3% ;
}

.modelos table{
  
}



/*estilos galeria*/

.galeria{
    display: flex;
}










/* estilos del footer*/
footer {
    text-align: center;
    margin-top: 2%;
    padding: 2%;
    border: dashed 3px;
}

footer img {
    width: 50px;
    padding: 1%;
}

footer a {
    text-decoration: none;
}

footer p {
    padding: 0.3%;
}