* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
}

header, figure, h1, form, nav, main, section, article, table {
    border: solid 1px rgb(4, 4, 4);
}

figure{
    width: 20%;
}

/*estilos del Header*/

header{
    display: flex;
    margin: 1%;
    justify-content: space-between;
}














/* estilos del footer*/
footer {
    text-align: center;
    margin-top: 2%;
    padding: 2%;
    border: dashed 3px ;
}

footer img {
    width: 50px;
    padding: 1%;
}

footer a {
    text-decoration: none;
}

footer p {
    padding: 0.3%;
}
